.container {
    width: 100%;
    height: 100%;
}

.logo {
    text-align: center;
    height: 250px;
}

.selectTip {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
}
#inicio, #pokeDex {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.list-group-item{
    display: inline-grid;
    width: 180px;
    height: 180px;
    border-radius: 25px;
    background-color: rgba(157, 222, 238, 0.5);
    padding: inherit;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}

@media (max-width: 750px) {
    .group {
        font-size: 15px;
    }
}

@-webkit-keyframes mymove {
    from {background-color: rgba(199, 188, 188, 0.952);}
    to {background-color: rgb(31, 31, 71);}
}
@keyframes mymove {
    from {background-color:  rgba(199, 188, 188, 0.952);}
    to {background-color: rgb(31, 31, 71);}
}

