#inicio, #pokeDex , #estadistica{
    background: #BDC581;
    font-family: sans-serif;
/*D*/
background-image: -webkit-linear-gradient(top, #0d0d31, #2079b0);
  background-image: -moz-linear-gradient(top, #0d0d31, #2079b0);
  background-image: -ms-linear-gradient(top, #0d0d31, #2079b0);
  background-image: -o-linear-gradient(top, #0d0d31, #2079b0);
  background-image: linear-gradient(to bottom, #0d0d31, #2079b0);

/*B*/
-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 3px 2px 1px #150620;
  box-shadow: 6px 5px 24px #150620;
  color: #fafafa;
  font-size: 18px;
  padding: 19px;
  text-decoration: none;
}

body {
    background-attachment: fixed;
    background-repeat: round;
    text-align: center;
    opacity: 70px;
    color: aliceblue;
    background-image: url(img/imglogo3.jpg);   
}


.header{
    padding-bottom: 20px;
    padding-top: 20px;
}
.container {
    width: 100%;
}

.card-link {
    display: inline-grid;
    width: 200px;
    height: 270px;
    border-radius: 25px;
    background-color: rgba(157, 222, 238, 0.5);
    padding: inherit;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: left;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}

.seleccionarTip, .select, .seleccionarDeb{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: black;
    background-color: #92dcee;
    border-radius: 15px;
    border: 3px double #1e06f8;
}
.select{
    float: left;   
}

.seleccionarDeb, .seleccionarTip{
    float: center; 
}

.list{
    padding-bottom: 20px;
    padding-top: 20px;
    width: 50;
}
.logo{
    width: 400px;
}

@media (max-width: 750px) {
    .group {
        font-size: 15px;
    }
}

@-webkit-keyframes mymove {
    from {background-color: rgba(7, 2, 2, 0.952);}
    to {background-color: rgb(31, 31, 71);}
}
@keyframes mymove {
    from {background-color:  rgba(78, 30, 141, 0.952);}
    to {background-color: rgb(22, 15, 54);}
}

/* para la imagen desglozable */
.slider {
    width: 100%;
    margin:auto;
}

.slider ul {
display: flex;
padding: 0;
width: 220%;
animation: cambio 10s infinite alternate linear;
}

.slider li {
width: 100%;
list-style: none;
}
.slider img {
    width: 100%;
}

@keyframes cambio {
    0%{ margin-left: 0;}
    10%{margin-left:0;}
    15%{margin-left: 0;}
    20%{margin-left: 0;}
  
    0%{ margin-right:0;}
    25%{ margin-left:-20%}
    45%{margin-left:-40%}
    55%{margin-left:-45%}
    70%{margin-left:-60%}
    75%{margin-left:-65%}
    80%{ margin-left:-80%}
    90%{margin-left:-90%}
    100%{ margin-left:-100%}